/data/
/rna_motif_library/interactions/
/rna_motif_library/tertiary_contacts/
/rna_motif_library/heatmaps/
/rna_motif_library/heatmap_data/
/rna_motif_library/motifs/
/rna_motif_library/structures/
/rna_motif_library/interactions.csv
/rna_motif_library/interactions_detailed.csv
/rna_motif_library/hairpins_tert.csv
/rna_motif_library/helices_tert.csv
/rna_motif_library/sstrand_tert.csv
/rna_motif_library/unique_tert_contacts.csv
/rna_motif_library/unique_tert_contacts_for_hbonds.csv
/rna_motif_library/tertiary_contact_list.csv
/rna_motif_library/twoway_motif_list.csv
/rna_motif_library/motif_residues_list.csv
/rna_motif_library/single_motif_inter_list.csv
/rna_motif_library/figure_2_bar_graph_motif_counts.png
/rna_motif_library/figure_2_hairpin_counts_bar_graph.png
/rna_motif_library/figure_2_helix_counts_bar_graph.png
/rna_motif_library/figure_2_sstrand_counts_bar_graph.png
/rna_motif_library/figure_2_twoway_motif_heatmap.png
/rna_motif_library/figure_3_hairpins_in_tert.png
/rna_motif_library/figure_3_hbonds_per_tert.png
/rna_motif_library/figure_3_helices_in_tert.png
/rna_motif_library/figure_3_sstrand_in_tert.png
/rna_motif_library/figure_3_residue_contact_types.png
/rna_motif_library/figure_3_tertiary_motif_counts.png
/rna_motif_library/old_code.txt
